# Development Dependencies
-r requirements.txt

# Code Quality
black==23.11.0
isort==5.12.0
flake8==6.1.0
pylint==3.0.2
mypy==1.7.0

# Documentation
mkdocs==1.5.3
mkdocs-material==9.5.1
mkdocstrings==0.24.0

# Debugging
ipython==8.17.2
ipdb==0.13.13
jupyter==1.0.0
notebook==7.0.6

# Profiling
py-spy==0.3.14
memory-profiler==0.61.0

# Pre-commit Hooks
pre-commit==3.5.0